<a href="https://colab.research.google.com/github/LEESUNG02/colab_note/blob/main/pandas_230621_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas?
* ÎåÄÎ∂ÄÎ∂ÑÏùò Îç∞Ïù¥ÌÑ∞Îäî ÏãúÍ≥ÑÏó¥(series)ÎÇò Ìëú(table)Î°ú ÎÇòÌÉÄÎÇº Ïàò ÏûàÏùå
* ÌåêÎã§Ïä§(Pandas)Îäî Ïù¥Îü¨Ìïú Îç∞Ïù¥ÌÑ∞Î•º Îã§Î£®Í∏∞ ÏúÑÌïú ÏãúÎ¶¨Ï¶à(`Series`) ÌÅ¥ÎûòÏä§ÏôÄ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ(`DataFrame`) ÌÅ¥ÎûòÏä§Î•º Ï†úÍ≥µ

In [ ]:
import pandas as pd

## ÏãúÎ¶¨Ï¶à (Series)
* ÏãúÎ¶¨Ï¶àÎäî NumpyÏóêÏÑú Ï†úÍ≥µÌïòÎäî 1Ï∞®Ïõê Î∞∞Ïó¥Í≥º ÎπÑÏä∑
* Í∞Å Îç∞Ïù¥ÌÑ∞Ïùò ÏùòÎØ∏(Ïù¥Î¶Ñ)Î•º ÌëúÏãúÌïòÎäî Ïù∏Îç±Ïä§(index)Î•º Î∂ôÏùº Ïàò ÏûàÏùå
> Îç∞Ïù¥ÌÑ∞ ÏûêÏ≤¥Îäî Í∞í(value)ÎùºÍ≥† Ìï®
> ÏãúÎ¶¨Ï¶à = Í∞í(value) + Ïù∏Îç±Ïä§(index)

### ÏãúÎ¶¨Ï¶à ÏÉùÏÑ±
* Îç∞Ïù¥ÌÑ∞Î•º Î¶¨Ïä§Ìä∏ÎÇò 1Ï∞®Ïõê Î∞∞Ïó¥ ÌòïÏãùÏúºÎ°ú Series ÌÅ¥ÎûòÏä§ ÏÉùÏÑ±ÏûêÏóê ÎÑ£Ïñ¥Ï£ºÎ©¥ ÏãúÎ¶¨Ï¶à ÌÅ¥ÎûòÏä§ Í∞ùÏ≤¥Î•º ÎßåÎì§ Ïàò ÏûàÏùå
* Ïù¥ Îïå Ïù∏Îç±Ïä§Ïùò Í∏∏Ïù¥Îäî Îç∞Ïù¥ÌÑ∞Ïùò Í∏∏Ïù¥ÏôÄ Í∞ôÏïÑÏïº Ìï®
* Ïù∏Îç±Ïä§Ïùò Í∞íÏùÑ Ïù∏Îç±Ïä§ ÎùºÎ≤®(label)Ïù¥ÎùºÍ≥†ÎèÑ Ìï®
* Ïù∏Îç±Ïä§ ÎùºÎ≤®ÏùÄ Î¨∏ÏûêÏó¥ Îøê ÏïÑÎãàÎùº ÎÇ†Ïßú, ÏãúÍ∞Ñ, Ï†ïÏàò Îì±ÎèÑ Í∞ÄÎä•

In [ ]:
data = [9904312, 3448737, 2890451, 2466052]
index = ["ÏÑúÏö∏", "Î∂ÄÏÇ∞", "Ïù∏Ï≤ú", "ÎåÄÍµ¨"]
s = pd.Series(data, index=index)
s

ÏÑúÏö∏    9904312
Î∂ÄÏÇ∞    3448737
Ïù∏Ï≤ú    2890451
ÎåÄÍµ¨    2466052
dtype: int64

In [ ]:
s = pd.Series(
    [9904312, 3448737, 2890451, 2466052], index=["ÏÑúÏö∏", "Î∂ÄÏÇ∞", "Ïù∏Ï≤ú", "ÎåÄÍµ¨"]
)
s

ÏÑúÏö∏    9904312
Î∂ÄÏÇ∞    3448737
Ïù∏Ï≤ú    2890451
ÎåÄÍµ¨    2466052
dtype: int64

In [ ]:
# s = pd.Series(
#     [9904312, 3448737, 2890451, 2466052], index=["ÏÑúÏö∏", "Î∂ÄÏÇ∞", "Ïù∏Ï≤ú"]
# )
# s  # Length of values (4) does not match length of index (3)

* ÎßåÏïΩ Ïù∏Îç±Ïä§Î•º ÏßÄÏ†ïÌïòÏßÄ ÏïäÍ≥† ÏãúÎ¶¨Ï¶àÎ•º ÎßåÎì§Î©¥ ÏãúÎ¶¨Ï¶àÏùò Ïù∏Îç±Ïä§Îäî 0Î∂ÄÌÑ∞ ÏãúÏûëÌïòÎäî Ï†ïÏàòÍ∞íÏù¥ Îê®

In [ ]:
pd.Series(range(10, 14)), pd.Series(range(10, 14), index=range(4))

(0    10
 1    11
 2    12
 3    13
 dtype: int64,
 0    10
 1    11
 2    12
 3    13
 dtype: int64)

* ÏãúÎ¶¨Ï¶àÏùò Ïù∏Îç±Ïä§Îäî `index` ÏÜçÏÑ±ÏúºÎ°ú Ï†ëÍ∑ºÌï† Ïàò ÏûàÏùå
* ÏãúÎ¶¨Ï¶àÏùò Í∞íÏùÄ 1Ï∞®Ïõê Î∞∞Ïó¥Ïù¥Î©∞ `values` ÏÜçÏÑ±ÏúºÎ°ú Ï†ëÍ∑ºÌï† Ïàò ÏûàÏùå

In [ ]:
s, s.index

(ÏÑúÏö∏    9904312
 Î∂ÄÏÇ∞    3448737
 Ïù∏Ï≤ú    2890451
 ÎåÄÍµ¨    2466052
 dtype: int64,
 Index(['ÏÑúÏö∏', 'Î∂ÄÏÇ∞', 'Ïù∏Ï≤ú', 'ÎåÄÍµ¨'], dtype='object'))

In [ ]:
s.values, type(s.values)

(array([9904312, 3448737, 2890451, 2466052]), numpy.ndarray)

* `name` ÏÜçÏÑ±ÏùÑ Ïù¥Ïö©ÌïòÏó¨ ÏãúÎ¶¨Ï¶à Îç∞Ïù¥ÌÑ∞Ïóê Ïù¥Î¶ÑÏùÑ Î∂ôÏùº Ïàò ÏûàÏùå
* `index.name` ÏÜçÏÑ±ÏúºÎ°ú ÏãúÎ¶¨Ï¶àÏùò Ïù∏Îç±Ïä§ÏóêÎèÑ Ïù¥Î¶ÑÏùÑ Î∂ôÏùº Ïàò ÏûàÏùå

In [ ]:
s.name = 'Ïù∏Íµ¨'
s.index.name = 'ÎèÑÏãú'
s

ÎèÑÏãú
ÏÑúÏö∏    9904312
Î∂ÄÏÇ∞    3448737
Ïù∏Ï≤ú    2890451
ÎåÄÍµ¨    2466052
Name: Ïù∏Íµ¨, dtype: int64

### ÏãúÎ¶¨Ï¶à Ïó∞ÏÇ∞
* ÎÑòÌååÏù¥ Î∞∞Ïó¥Ï≤òÎüº ÏãúÎ¶¨Ï¶àÎèÑ Î≤°ÌÑ∞Ìôî Ïó∞ÏÇ∞ÏùÑ Ìï† Ïàò ÏûàÏùå
* Îã§Îßå **Ïó∞ÏÇ∞ÏùÄ ÏãúÎ¶¨Ï¶àÏùò Í∞íÏóêÎßå Ï†ÅÏö©ÎêòÎ©∞ Ïù∏Îç±Ïä§ Í∞íÏùÄ Î≥ÄÌïòÏßÄ ÏïäÏùå**

In [ ]:
s / 1_000_000  # Ïù∏Îç±Ïä§ÏóêÎäî ÏòÅÌñ•ÏùÑ Ïïà ÎØ∏ÏπòÍ≥† -> Í∞í

ÎèÑÏãú
ÏÑúÏö∏    9.904312
Î∂ÄÏÇ∞    3.448737
Ïù∏Ï≤ú    2.890451
ÎåÄÍµ¨    2.466052
Name: Ïù∏Íµ¨, dtype: float64

### ÏãúÎ¶¨Ï¶à Ïù∏Îç±Ïã± & Ïä¨ÎùºÏù¥Ïã±
* ÏãúÎ¶¨Ï¶àÎäî Numpy Î∞∞Ïó¥ÏóêÏÑú Í∞ÄÎä•Ìïú Ïù∏Îç±Ïä§ Î∞©Î≤ï Ïù¥Ïô∏ÏóêÎèÑ Ïù∏Îç±Ïä§ ÎùºÎ≤®ÏùÑ Ïù¥Ïö©Ìïú Ïù∏Îç±Ïã±ÎèÑ Ìï† Ïàò ÏûàÏùå
* Î∞∞Ïó¥ Ïù∏Îç±Ïã±Ïù¥ÎÇò Ïù∏Îç±Ïä§ ÎùºÎ≤®ÏùÑ Ïù¥Ïö©Ìïú Ïä¨ÎùºÏù¥Ïã±(slicing)ÎèÑ Í∞ÄÎä•

In [ ]:
s

ÎèÑÏãú
ÏÑúÏö∏    9904312
Î∂ÄÏÇ∞    3448737
Ïù∏Ï≤ú    2890451
ÎåÄÍµ¨    2466052
Name: Ïù∏Íµ¨, dtype: int64

In [ ]:
s[1], s["Î∂ÄÏÇ∞"]

(3448737, 3448737)

In [ ]:
s[3], s[-1], s['ÎåÄÍµ¨']

(2466052, 2466052, 2466052)

In [ ]:
s[[0, 3, 1, 0]]

ÎèÑÏãú
ÏÑúÏö∏    9904312
ÎåÄÍµ¨    2466052
Î∂ÄÏÇ∞    3448737
ÏÑúÏö∏    9904312
Name: Ïù∏Íµ¨, dtype: int64

In [ ]:
s[['Î∂ÄÏÇ∞', 'ÏÑúÏö∏', 'ÎåÄÍµ¨', 'ÏÑúÏö∏']]

ÎèÑÏãú
Î∂ÄÏÇ∞    3448737
ÏÑúÏö∏    9904312
ÎåÄÍµ¨    2466052
ÏÑúÏö∏    9904312
Name: Ïù∏Íµ¨, dtype: int64

In [ ]:
s > 5_000_000

ÎèÑÏãú
ÏÑúÏö∏     True
Î∂ÄÏÇ∞    False
Ïù∏Ï≤ú    False
ÎåÄÍµ¨    False
Name: Ïù∏Íµ¨, dtype: bool

In [ ]:
s[s > 5_000_000]

ÎèÑÏãú
ÏÑúÏö∏    9904312
Name: Ïù∏Íµ¨, dtype: int64

In [ ]:
# Ïù∏Íµ¨Í∞Ä 250Îßå Ï¥àÍ≥º, 500Îßå ÎØ∏ÎßåÏù∏ Í≤ΩÏö∞. (eÏà´Ïûê => 10Ïùò Ïà´ÏûêÏäπ Í≥±ÌïòÍ∏∞)
s[(250e4 < s) & (s < 500e4)]

ÎèÑÏãú
Î∂ÄÏÇ∞    3448737
Ïù∏Ï≤ú    2890451
Name: Ïù∏Íµ¨, dtype: int64

* Ïä¨ÎùºÏù¥Ïã±ÏùÑ Ìï¥ÎèÑ Î∂ÄÎ∂ÑÏ†ÅÏù∏ ÏãúÎ¶¨Ï¶àÎ•º Î∞òÌôò
* Ïù¥ Îïå *Î¨∏ÏûêÏó¥ ÎùºÎ≤®ÏùÑ Ïù¥Ïö©Ìïú Ïä¨ÎùºÏù¥Ïã±*ÏùÑ ÌïòÎäî Í≤ΩÏö∞ÏóêÎäî **Ïà´Ïûê Ïù∏Îç±Ïã±Í≥º Îã¨Î¶¨ ÏΩúÎ°†(:) Í∏∞Ìò∏ Îí§Ïóê Ïò§Îäî Í∞íÎèÑ Í≤∞Í≥ºÏóê Ìè¨Ìï®**ÎêòÎØÄÎ°ú Ï£ºÏùò

In [ ]:
s

ÎèÑÏãú
ÏÑúÏö∏    9904312
Î∂ÄÏÇ∞    3448737
Ïù∏Ï≤ú    2890451
ÎåÄÍµ¨    2466052
Name: Ïù∏Íµ¨, dtype: int64

In [ ]:
s[1:3]  # ÎëêÎ≤àÏß∏(1)Î∂ÄÌÑ∞ ÏÑ∏Î≤àÏß∏(2)ÍπåÏßÄ (ÏßÅÏ†ÑÍπåÏßÄ...)

ÎèÑÏãú
Î∂ÄÏÇ∞    3448737
Ïù∏Ï≤ú    2890451
Name: Ïù∏Íµ¨, dtype: int64

In [ ]:
s["Î∂ÄÏÇ∞":"ÎåÄÍµ¨"]  # Î¨∏ÏûêÏó¥ÏùÄ ÎÅùÏ†êÎèÑ Ìè¨Ìï®Ìï¥ÏÑú Ïä¨ÎùºÏù¥Ïã±

ÎèÑÏãú
Î∂ÄÏÇ∞    3448737
Ïù∏Ï≤ú    2890451
ÎåÄÍµ¨    2466052
Name: Ïù∏Íµ¨, dtype: int64

* ÎßåÏïΩ ÎùºÎ≤® Í∞íÏù¥ (Î≥ÄÏàòÎ°ú ÌëúÍ∏∞Ìï† Ïàò ÏûàÎäî) Î¨∏ÏûêÏó¥Ïù∏ Í≤ΩÏö∞ÏóêÎäî Ïù∏Îç±Ïä§ ÎùºÎ≤®Ïù¥ ÏÜçÏÑ±Ïù∏Í≤ÉÏ≤òÎüº Ï†ê(.)ÏùÑ Ïù¥Ïö©ÌïòÏó¨ Ìï¥Îãπ Ïù∏Îç±Ïä§ Í∞íÏóê Ï†ëÍ∑ºÌï† ÏàòÎèÑ ÏûàÏùå

In [ ]:
import numpy as np

In [ ]:
s0 = pd.Series(np.arange(3), index=list('abc'))
s0

a    0
b    1
c    2
dtype: int64

In [ ]:
s0['a'], s0.a, s0['b'], s0.b

(0, 0, 1, 1)

In [ ]:
# Í∑ºÎç∞ ÌïúÍµ≠Ïñ¥ÎèÑ Îêå
s.ÏÑúÏö∏, s.Î∂ÄÏÇ∞

(9904312, 3448737)

### ÏãúÎ¶¨Ï¶àÏôÄ ÎîïÏÖîÎÑàÎ¶¨ ÏûêÎ£åÌòï
* ÏãúÎ¶¨Ï¶à Í∞ùÏ≤¥Îäî ÎùºÎ≤® Í∞íÏóê ÏùòÌï¥ Ïù∏Îç±Ïã±Ïù¥ Í∞ÄÎä•ÌïòÎØÄÎ°ú Ïã§ÏßàÏ†ÅÏúºÎ°ú Ïù∏Îç±Ïä§ ÎùºÎ≤® Í∞íÏùÑ ÌÇ§(key)Î°ú Í∞ÄÏßÄÎäî ÎîïÏÖîÎÑàÎ¶¨ ÏûêÎ£åÌòïÍ≥º Ïú†ÏÇ¨
* Îî∞ÎùºÏÑú ÎîïÏÖîÎÑàÎ¶¨ ÏûêÎ£åÌòïÏóêÏÑú Ï†úÍ≥µÌïòÎäî in Ïó∞ÏÇ∞ÎèÑ Í∞ÄÎä•ÌïòÍ≥† items Î©îÏÑúÎìúÎ•º ÏÇ¨Ïö©ÌïòÎ©¥ for Î£®ÌîÑÎ•º ÌÜµÌï¥ Í∞Å ÏõêÏÜåÏùò ÌÇ§(key)ÏôÄ Í∞í(value)ÏùÑ Ï†ëÍ∑ºÌï† ÏàòÎèÑ ÏûàÏùå

In [ ]:
s

ÎèÑÏãú
ÏÑúÏö∏    9904312
Î∂ÄÏÇ∞    3448737
Ïù∏Ï≤ú    2890451
ÎåÄÍµ¨    2466052
Name: Ïù∏Íµ¨, dtype: int64

In [ ]:
"ÏÑúÏö∏" in s, "ÏÑúÏö∏" in s.index  # ÏãúÎ¶¨Ï¶à s ÏïàÏóê 'ÏÑúÏö∏'Ïù¥ÎùºÎäî Ïù∏Îç±Ïä§ ÎùºÎ≤®(ÌÇ§)Í∞Ä ÏûàÎÇòÏöî?

(True, True)

In [ ]:
"ÎåÄÏ†Ñ" in s, "ÎåÄÏ†Ñ" not in s

(False, True)

In [ ]:
# for i in s.items():
for k, v in s.items():
    # print(i)
    print(f"{k} = {v}")

ÏÑúÏö∏ = 9904312
Î∂ÄÏÇ∞ = 3448737
Ïù∏Ï≤ú = 2890451
ÎåÄÍµ¨ = 2466052

* ÎîïÏÖîÎÑàÎ¶¨ Í∞ùÏ≤¥ÏóêÏÑú ÏãúÎ¶¨Ï¶àÎ•º ÎßåÎì§ ÏàòÎèÑ ÏûàÏùå

In [ ]:
s2 = pd.Series({
    "ÏÑúÏö∏": 9631482,
    "Î∂ÄÏÇ∞": 3393191,
    "Ïù∏Ï≤ú": 2632035,
    "ÎåÄÏ†Ñ": 1490158
})
s2

ÏÑúÏö∏    9631482
Î∂ÄÏÇ∞    3393191
Ïù∏Ï≤ú    2632035
ÎåÄÏ†Ñ    1490158
dtype: int64

* ÎîïÏÖîÎÑàÎ¶¨Ïùò ÏõêÏÜåÎäî ÏàúÏÑúÎ•º Í∞ÄÏßÄÏßÄ ÏïäÏúºÎØÄÎ°ú ÏãúÎ¶¨Ï¶àÏùò Îç∞Ïù¥ÌÑ∞ÎèÑ ÏàúÏÑúÍ∞Ä Î≥¥Ïû•ÎêòÏßÄ ÏïäÏùå
* ÎßåÏïΩ ÏàúÏÑúÎ•º Ï†ïÌïòÍ≥† Ïã∂Îã§Î©¥ Ïù∏Îç±Ïä§Î•º Î¶¨Ïä§Ìä∏Î°ú ÏßÄÏ†ïÌï¥Ïïº Ìï®

In [ ]:
s2 = pd.Series({
    "ÏÑúÏö∏": 9631482,
    "Î∂ÄÏÇ∞": 3393191,
    "Ïù∏Ï≤ú": 2632035,
    "ÎåÄÏ†Ñ": 1490158
}, index=["Î∂ÄÏÇ∞", "ÏÑúÏö∏", "Ïù∏Ï≤ú", "ÎåÄÏ†Ñ"])
s2

Î∂ÄÏÇ∞    3393191
ÏÑúÏö∏    9631482
Ïù∏Ï≤ú    2632035
ÎåÄÏ†Ñ    1490158
dtype: int64

### Ïù∏Îç±Ïä§ Í∏∞Î∞ò Ïó∞ÏÇ∞
* Îëê ÏãúÎ¶¨Ï¶àÏóê ÎåÄÌï¥ Ïó∞ÏÇ∞ÏùÑ ÌïòÎäî Í≤ΩÏö∞ Ïù∏Îç±Ïä§Í∞Ä Í∞ôÏùÄ Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌï¥ÏÑúÎßå Ï∞®Ïù¥Î•º Íµ¨Ìï®

In [ ]:
s, s2

(ÎèÑÏãú
 ÏÑúÏö∏    9904312
 Î∂ÄÏÇ∞    3448737
 Ïù∏Ï≤ú    2890451
 ÎåÄÍµ¨    2466052
 Name: Ïù∏Íµ¨, dtype: int64,
 Î∂ÄÏÇ∞    3393191
 ÏÑúÏö∏    9631482
 Ïù∏Ï≤ú    2632035
 ÎåÄÏ†Ñ    1490158
 dtype: int64)

In [ ]:
ds = s - s2
ds

ÎåÄÍµ¨         NaN
ÎåÄÏ†Ñ         NaN
Î∂ÄÏÇ∞     55546.0
ÏÑúÏö∏    272830.0
Ïù∏Ï≤ú    258416.0
dtype: float64

In [ ]:
s.values - s2.values  # Í∞ïÏ†úÎ°ú ÏúÑÏπòÎ°ú Í≥ÑÏÇ∞Ìïú Í≤ÉÏù¥Í∏∞ ÎïåÎ¨∏Ïóê Ï†ïÌôïÌïòÏßÄ ÏïäÏïÑÏöî

array([ 6511121, -6182745,   258416,   975894])

In [ ]:
# NaNÏù∏ Í∞íÏùÑ Íµ¨ÌïòÍ≥† Ïã∂Îã§Î©¥ isnull Î©îÏÜåÎìúÎ•º ÏÇ¨Ïö©
ds.isnull(), ds.notnull()

(ÎåÄÍµ¨     True
 ÎåÄÏ†Ñ     True
 Î∂ÄÏÇ∞    False
 ÏÑúÏö∏    False
 Ïù∏Ï≤ú    False
 dtype: bool,
 ÎåÄÍµ¨    False
 ÎåÄÏ†Ñ    False
 Î∂ÄÏÇ∞     True
 ÏÑúÏö∏     True
 Ïù∏Ï≤ú     True
 dtype: bool)

In [ ]:
ds.notna() # ds.notnull()

ÎåÄÍµ¨    False
ÎåÄÏ†Ñ    False
Î∂ÄÏÇ∞     True
ÏÑúÏö∏     True
Ïù∏Ï≤ú     True
dtype: bool

In [ ]:
ds[ds.isnull()], ds[ds.notnull()]

(ÎåÄÍµ¨   NaN
 ÎåÄÏ†Ñ   NaN
 dtype: float64,
 Î∂ÄÏÇ∞     55546.0
 ÏÑúÏö∏    272830.0
 Ïù∏Ï≤ú    258416.0
 dtype: float64)

In [ ]:
# Ïù∏Íµ¨ Ï¶ùÍ∞ÄÏú® Íµ¨ÌïòÍ∏∞ (%)
rs = (s - s2) / s2 * 100
# rs = rs[rs.notnull()]
rs = rs.dropna()
rs

Î∂ÄÏÇ∞    1.636984
ÏÑúÏö∏    2.832690
Ïù∏Ï≤ú    9.818107
dtype: float64

### Îç∞Ïù¥ÌÑ∞Ïùò Í∞±Ïã†, Ï∂îÍ∞Ä, ÏÇ≠Ï†ú
* Ïù∏Îç±Ïã±ÏùÑ Ïù¥Ïö©ÌïòÏó¨ ÎîïÏÖîÎÑàÎ¶¨Ï≤òÎüº Îç∞Ïù¥ÌÑ∞Î•º Í∞±Ïã†(update) ÌòπÏùÄ Ï∂îÍ∞Ä(add)

In [ ]:
rs

Î∂ÄÏÇ∞    1.636984
ÏÑúÏö∏    2.832690
Ïù∏Ï≤ú    9.818107
dtype: float64

In [ ]:
rs['Î∂ÄÏÇ∞'] = 1.63
rs

Î∂ÄÏÇ∞    1.630000
ÏÑúÏö∏    2.832690
Ïù∏Ï≤ú    9.818107
dtype: float64

In [ ]:
rs['ÎåÄÍµ¨'] = 1.41
rs

Î∂ÄÏÇ∞    1.630000
ÏÑúÏö∏    2.832690
Ïù∏Ï≤ú    9.818107
ÎåÄÍµ¨    1.410000
dtype: float64

In [ ]:
# Îç∞Ïù¥ÌÑ∞ ÏÇ≠Ï†úÏãú del Î™ÖÎ†π ÏÇ¨Ïö©
del rs['ÏÑúÏö∏']
rs

Î∂ÄÏÇ∞    1.630000
Ïù∏Ï≤ú    9.818107
ÎåÄÍµ¨    1.410000
dtype: float64

### ü¶Ü Ïó∞ÏäµÎ¨∏Ï†ú 1
1. ÏûÑÏùòÎ°ú Îëê Í∞úÏùò ÏãúÎ¶¨Ï¶à Í∞ùÏ≤¥Î•º ÎßåÎì†Îã§. Î™®Îëê Î¨∏ÏûêÏó¥ Ïù∏Îç±Ïä§Î•º Í∞ÄÏ†∏Ïïº ÌïòÎ©∞ Îëê ÏãúÎ¶¨Ï¶àÏóê Í≥µÌÜµÏ†ÅÏúºÎ°ú Ìè¨Ìï®ÎêòÏßÄ ÏïäÎäî ÎùºÎ≤®Ïù¥ ÏûàÏñ¥Ïïº ÌïúÎã§.
1. ÏúÑÏóêÏÑú ÎßåÎì† Îëê ÏãúÎ¶¨Ï¶à Í∞ùÏ≤¥Î•º Ïù¥Ïö©ÌïòÏó¨ ÏÇ¨Ïπô Ïó∞ÏÇ∞ÏùÑ ÌïúÎã§.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
str_index = lambda x: np.random.choice(list(map(chr,range(65, 75))), x, replace=False)

value_count = 6
s1 = pd.Series(np.random.randn(value_count), str_index(value_count))
s2 = pd.Series(np.random.randn(value_count), str_index(value_count))
print(s1)
print(s2)

C   -0.706240
J   -0.276639
D    0.012170
E   -0.437040
B    0.286673
G   -0.019997
dtype: float64
A    0.879741
E   -1.248850
J   -0.169065
H    1.513158
D    0.498300
F   -0.126329
dtype: float64

In [ ]:
s1 + s2

A         NaN
B         NaN
C         NaN
D    0.510471
E   -1.685890
F         NaN
G         NaN
H         NaN
J   -0.445704
dtype: float64

In [ ]:
s1 - s2

A         NaN
B         NaN
C         NaN
D   -0.486130
E    0.811810
F         NaN
G         NaN
H         NaN
J   -0.107574
dtype: float64

In [ ]:
s1 * s2

A         NaN
B         NaN
C         NaN
D    0.006065
E    0.545798
F         NaN
G         NaN
H         NaN
J    0.046770
dtype: float64

In [ ]:
s1 / s2

A         NaN
B         NaN
C         NaN
D    0.024424
E    0.349954
F         NaN
G         NaN
H         NaN
J    1.636289
dtype: float64

## Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ (DataFrame)
* ÏãúÎ¶¨Ï¶àÍ∞Ä 1Ï∞®Ïõê Î∞∞Ïó¥ Îç∞Ïù¥ÌÑ∞Ïóê ÌñâÎ∞©Ìñ• Ïù∏Îç±Ïä§(row index)Î•º Î∂ôÏù∏ Í≤ÉÏù¥ÎùºÎ©¥ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÎäî 2Ï∞®Ïõê ÌñâÎ†¨ Îç∞Ïù¥ÌÑ∞Ïóê Ïù∏Îç±Ïä§Î•º Î∂ôÏù∏ Í≤É
* 2Ï∞®ÏõêÏù¥ÎØÄÎ°ú Í∞ÅÍ∞ÅÏùò Ìñâ Îç∞Ïù¥ÌÑ∞Ïùò Ïù¥Î¶ÑÏù¥ ÎêòÎäî Ìñâ Ïù∏Îç±Ïä§(row index) Îøê ÏïÑÎãàÎùº Í∞ÅÍ∞ÅÏùò Ïó¥ Îç∞Ïù¥ÌÑ∞Ïùò Ïù¥Î¶ÑÏù¥ ÎêòÎäî Ïó¥ Ïù∏Îç±Ïä§(column index)ÎèÑ Î∂ôÏùº Ïàò ÏûàÏùå

### Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÏÉùÏÑ±
1. ÌïòÎÇòÏùò Ïó¥Ïù¥ ÎêòÎäî Îç∞Ïù¥ÌÑ∞Î•º Î¶¨Ïä§Ìä∏ÎÇò ÏùºÏ∞®Ïõê Î∞∞Ïó¥ÏùÑ Ï§ÄÎπÑ
1. Ïù¥ Í∞ÅÍ∞ÅÏùò Ïó¥Ïóê ÎåÄÌïú Ïù¥Î¶Ñ(ÎùºÎ≤®)ÏùÑ ÌÇ§Î°ú Í∞ÄÏßÄÎäî ÎîïÏÖîÎÑàÎ¶¨Î•º ÏÉùÏÑ±
1. Ïù¥ Îç∞Ïù¥ÌÑ∞Î•º DataFrame ÏÉùÏÑ±ÏûêÏóê ÎÑ£Ïùå. ÎèôÏãúÏóê Ïó¥Î∞©Ìñ• Ïù∏Îç±Ïä§Îäî `columns` Ïù∏ÏàòÎ°ú, ÌñâÎ∞©Ìñ• Ïù∏Îç±Ïä§Îäî `index` Ïù∏ÏàòÎ°ú ÏßÄÏ†ï

In [ ]:
import pandas as pd
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "ÏßÄÏó≠": ["ÏàòÎèÑÍ∂å", "Í≤ΩÏÉÅÍ∂å", "ÏàòÎèÑÍ∂å", "Í≤ΩÏÉÅÍ∂å"],
    "2010-2015 Ï¶ùÍ∞ÄÏú®": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["ÏßÄÏó≠", "2015", "2010", "2005", "2000", "2010-2015 Ï¶ùÍ∞ÄÏú®"]
index = ["ÏÑúÏö∏", "Î∂ÄÏÇ∞", "Ïù∏Ï≤ú", "ÎåÄÍµ¨"]

In [ ]:
df = pd.DataFrame(data, columns=columns, index=index)
df

     ÏßÄÏó≠     2015     2010     2005     2000  2010-2015 Ï¶ùÍ∞ÄÏú®
ÏÑúÏö∏  ÏàòÎèÑÍ∂å  9904312  9631482  9762546  9853972         0.0283
Î∂ÄÏÇ∞  Í≤ΩÏÉÅÍ∂å  3448737  3393191  3512547  3655437         0.0163
Ïù∏Ï≤ú  ÏàòÎèÑÍ∂å  2890451  2632035  2517680  2466338         0.0982
ÎåÄÍµ¨  Í≤ΩÏÉÅÍ∂å  2466052  2431774  2456016  2473990         0.0141

* Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÄ Í≥µÌÜµ Ïù∏Îç±Ïä§Î•º Í∞ÄÏßÄÎäî Ïó¥ ÏãúÎ¶¨Ï¶à(column series)Î•º ÎîïÏÖîÎÑàÎ¶¨Î°ú Î¨∂Ïñ¥ÎÜìÏùÄ Í≤ÉÏù¥ÎùºÍ≥† Î≥¥Îäî Í≤ÉÏù¥ Îçî Ï†ïÌôï
* Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÄ Í∞Å Ïó¥(column)ÎßàÎã§ ÏûêÎ£åÌòïÏù¥ Îã§Î•º Ïàò ÏûàÏùå (2Ï∞®Ïõê Î∞∞Ïó¥Ïù¥ÎùºÍ≥† Î≥¥Í∏∞Ïóî Î¨¥Î¶¨)
---
* Îç∞Ïù¥ÌÑ∞Îßå Ï†ëÍ∑ºÌïòÎ†§Î©¥ `values` ÏÜçÏÑ± ÏÇ¨Ïö©
* Ïó¥Î∞©Ìñ• Ïù∏Îç±Ïä§ : `columns` ÏÜçÏÑ±
* ÌñâÎ∞©Ìñ• Ïù∏Îç±Ïä§ : `index` ÏÜçÏÑ±

In [ ]:
df.values

array([[9904312, 9631482, 9762546, 9853972, 'ÏàòÎèÑÍ∂å', 0.0283],
       [3448737, 3393191, 3512547, 3655437, 'Í≤ΩÏÉÅÍ∂å', 0.0163],
       [2890451, 2632035, 2517680, 2466338, 'ÏàòÎèÑÍ∂å', 0.0982],
       [2466052, 2431774, 2456016, 2473990, 'Í≤ΩÏÉÅÍ∂å', 0.0141]], dtype=object)

In [ ]:
df.columns

Index(['ÏßÄÏó≠', '2015', '2010', '2005', '2000', '2010-2015 Ï¶ùÍ∞ÄÏú®'], dtype='object')

In [ ]:
df.index

Index(['ÏÑúÏö∏', 'Î∂ÄÏÇ∞', 'Ïù∏Ï≤ú', 'ÎåÄÍµ¨'], dtype='object')

In [ ]:
# ÏãúÎ¶¨Ï¶àÏ≤òÎüº Ïó¥Î∞©Ìñ• Ïù∏Îç±Ïä§ÏôÄ ÌñâÎ∞©Ìñ• Ïù∏Îç±Ïä§Ïóê Ïù¥Î¶ÑÏùÑ Î∂ôÏù¥Îäî Í≤ÉÎèÑ Í∞ÄÎä•
df.index.name = 'ÎèÑÏãú'
df.columns.name = 'ÌäπÏÑ±'
df

ÌäπÏÑ±   ÏßÄÏó≠     2015     2010     2005     2000  2010-2015 Ï¶ùÍ∞ÄÏú®
ÎèÑÏãú
ÏÑúÏö∏  ÏàòÎèÑÍ∂å  9904312  9631482  9762546  9853972         0.0283
Î∂ÄÏÇ∞  Í≤ΩÏÉÅÍ∂å  3448737  3393191  3512547  3655437         0.0163
Ïù∏Ï≤ú  ÏàòÎèÑÍ∂å  2890451  2632035  2517680  2466338         0.0982
ÎåÄÍµ¨  Í≤ΩÏÉÅÍ∂å  2466052  2431774  2456016  2473990         0.0141

### ü¶Ü Ïó∞ÏäµÎ¨∏Ï†ú 2
Îã§Ïùå Ï°∞Í±¥ÏùÑ ÎßåÏ°±ÌïòÎäî ÏûÑÏùòÏùò Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ ÌïòÎÇò ÎßåÎì†Îã§.

1. Ïó¥Ïùò Í∞ØÏàòÏôÄ ÌñâÏùò Í∞ØÏàòÍ∞Ä Í∞ÅÍ∞Å 5Í∞ú Ïù¥ÏÉÅÏù¥Ïñ¥Ïïº ÌïúÎã§.
1. Ïó¥ÏóêÎäî Ï†ïÏàò, Î¨∏ÏûêÏó¥, Ïã§Ïàò ÏûêÎ£åÌòï Îç∞Ïù¥ÌÑ∞Í∞Ä Í∞ÅÍ∞Å 1Í∞ú Ïù¥ÏÉÅÏî© Ìè¨Ìï®ÎêòÏñ¥ ÏûàÏñ¥Ïïº ÌïúÎã§.

In [ ]:
df2 = pd.DataFrame(data, columns=columns, index=index)
df2

     ÏßÄÏó≠     2015     2010     2005     2000  2010-2015 Ï¶ùÍ∞ÄÏú®
ÏÑúÏö∏  ÏàòÎèÑÍ∂å  9904312  9631482  9762546  9853972         0.0283
Î∂ÄÏÇ∞  Í≤ΩÏÉÅÍ∂å  3448737  3393191  3512547  3655437         0.0163
Ïù∏Ï≤ú  ÏàòÎèÑÍ∂å  2890451  2632035  2517680  2466338         0.0982
ÎåÄÍµ¨  Í≤ΩÏÉÅÍ∂å  2466052  2431774  2456016  2473990         0.0141

In [ ]:
import numpy as np

pd.DataFrame({
    'a': np.random.randn(5),
    'b': np.random.rand(5),
    'c': np.random.randint(10, size=5),
    'd': np.linspace(100, 199, 5),
    'e': np.random.choice(list("„Ñ±„Ñ¥„Ñ∑„Ñπ„ÖÅ"), 5),
}, index=list(map(chr, range(65, 70))))

          a         b  c       d  e
A  0.503152  0.087053  9  100.00  „ÖÅ
B  0.031218  0.320863  9  124.75  „Ñ±
C  0.289750  0.860423  9  149.50  „Ñ∑
D -0.062963  0.650323  6  174.25  „Ñπ
E -0.513874  0.595601  1  199.00  „Ñπ

In [ ]:
ord('„Ñ±'), ord('a'), ord('z'), chr(97)

(12593, 97, 122, 'a')

In [ ]:
# Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÄ Ï†ÑÏπò(transpose)Î•º Ìè¨Ìï®ÌïòÏó¨ ÎÑòÌååÏù¥ 2Ï∞®Ïõê Î∞∞Ïó¥Ïù¥ Í∞ÄÏßÄÎäî ÎåÄÎ∂ÄÎ∂ÑÏùò ÏÜçÏÑ±Ïù¥ÎÇò Î©îÏÑúÎìúÎ•º ÏßÄÏõê
df.T

ÎèÑÏãú                  ÏÑúÏö∏       Î∂ÄÏÇ∞       Ïù∏Ï≤ú       ÎåÄÍµ¨
ÌäπÏÑ±
ÏßÄÏó≠                 ÏàòÎèÑÍ∂å      Í≤ΩÏÉÅÍ∂å      ÏàòÎèÑÍ∂å      Í≤ΩÏÉÅÍ∂å
2015           9904312  3448737  2890451  2466052
2010           9631482  3393191  2632035  2431774
2005           9762546  3512547  2517680  2456016
2000           9853972  3655437  2466338  2473990
2010-2015 Ï¶ùÍ∞ÄÏú®   0.0283   0.0163   0.0982   0.0141

### Ïó¥ Îç∞Ïù¥ÌÑ∞Ïùò Í∞±Ïã†, Ï∂îÍ∞Ä, ÏÇ≠Ï†ú
* Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÄ Ïó¥ ÏãúÎ¶¨Ï¶àÏùò ÎîïÏÖîÎÑàÎ¶¨ÏúºÎ°ú Î≥º Ïàò ÏûàÏúºÎØÄÎ°ú Ïó¥ Îã®ÏúÑÎ°ú Îç∞Ïù¥ÌÑ∞Î•º Í∞±Ïã†ÌïòÍ±∞ÎÇò Ï∂îÍ∞Ä, ÏÇ≠Ï†úÌï† Ïàò ÏûàÏùå

In [ ]:
df

ÌäπÏÑ±   ÏßÄÏó≠     2015     2010     2005     2000  2010-2015 Ï¶ùÍ∞ÄÏú®
ÎèÑÏãú
ÏÑúÏö∏  ÏàòÎèÑÍ∂å  9904312  9631482  9762546  9853972         0.0283
Î∂ÄÏÇ∞  Í≤ΩÏÉÅÍ∂å  3448737  3393191  3512547  3655437         0.0163
Ïù∏Ï≤ú  ÏàòÎèÑÍ∂å  2890451  2632035  2517680  2466338         0.0982
ÎåÄÍµ¨  Í≤ΩÏÉÅÍ∂å  2466052  2431774  2456016  2473990         0.0141

In [ ]:
df['ÏßÄÏó≠'], type(df['ÏßÄÏó≠']) # 'ÏßÄÏó≠' Ïó¥ Ïù∏Îç±Ïä§ -> Ìï¥Îãπ Ïó¥Îßå Ï°∞Ìúò

(ÎèÑÏãú
 ÏÑúÏö∏    ÏàòÎèÑÍ∂å
 Î∂ÄÏÇ∞    Í≤ΩÏÉÅÍ∂å
 Ïù∏Ï≤ú    ÏàòÎèÑÍ∂å
 ÎåÄÍµ¨    Í≤ΩÏÉÅÍ∂å
 Name: ÏßÄÏó≠, dtype: object,
 pandas.core.series.Series)

In [ ]:
df['ÏßÄÏó≠']['ÏÑúÏö∏'], df['ÏßÄÏó≠'][0], df['ÏßÄÏó≠'][0:3], df['ÏßÄÏó≠']["ÏÑúÏö∏":"ÎåÄÍµ¨"], df['ÏßÄÏó≠'][-1]

('ÏàòÎèÑÍ∂å',
 'ÏàòÎèÑÍ∂å',
 ÎèÑÏãú
 ÏÑúÏö∏    ÏàòÎèÑÍ∂å
 Î∂ÄÏÇ∞    Í≤ΩÏÉÅÍ∂å
 Ïù∏Ï≤ú    ÏàòÎèÑÍ∂å
 Name: ÏßÄÏó≠, dtype: object,
 ÎèÑÏãú
 ÏÑúÏö∏    ÏàòÎèÑÍ∂å
 Î∂ÄÏÇ∞    Í≤ΩÏÉÅÍ∂å
 Ïù∏Ï≤ú    ÏàòÎèÑÍ∂å
 ÎåÄÍµ¨    Í≤ΩÏÉÅÍ∂å
 Name: ÏßÄÏó≠, dtype: object,
 'Í≤ΩÏÉÅÍ∂å')

In [ ]:
df['2010-2015 Ï¶ùÍ∞ÄÏú®'] * 100

ÎèÑÏãú
ÏÑúÏö∏    2.83
Î∂ÄÏÇ∞    1.63
Ïù∏Ï≤ú    9.82
ÎåÄÍµ¨    1.41
Name: 2010-2015 Ï¶ùÍ∞ÄÏú®, dtype: float64

In [ ]:
df['2010-2015 Ï¶ùÍ∞ÄÏú®'] = df['2010-2015 Ï¶ùÍ∞ÄÏú®'] * 100
df

ÌäπÏÑ±   ÏßÄÏó≠     2015     2010     2005     2000  2010-2015 Ï¶ùÍ∞ÄÏú®
ÎèÑÏãú
ÏÑúÏö∏  ÏàòÎèÑÍ∂å  9904312  9631482  9762546  9853972           2.83
Î∂ÄÏÇ∞  Í≤ΩÏÉÅÍ∂å  3448737  3393191  3512547  3655437           1.63
Ïù∏Ï≤ú  ÏàòÎèÑÍ∂å  2890451  2632035  2517680  2466338           9.82
ÎåÄÍµ¨  Í≤ΩÏÉÅÍ∂å  2466052  2431774  2456016  2473990           1.41

In [ ]:
df['2010-2015 Ï¶ùÍ∞ÄÏú®'] /= 100
df

      2015     2010     2005     2000   ÏßÄÏó≠  2010-2015 Ï¶ùÍ∞ÄÏú®
0  9904312  9631482  9762546  9853972  ÏàòÎèÑÍ∂å          283.0
1  3448737  3393191  3512547  3655437  Í≤ΩÏÉÅÍ∂å          163.0
2  2890451  2632035  2517680  2466338  ÏàòÎèÑÍ∂å          982.0
3  2466052  2431774  2456016  2473990  Í≤ΩÏÉÅÍ∂å          141.0

In [ ]:
df['2010-2015 Ï¶ùÍ∞ÄÏú®'] *= 100
df

      2015     2010     2005     2000   ÏßÄÏó≠  2010-2015 Ï¶ùÍ∞ÄÏú®
0  9904312  9631482  9762546  9853972  ÏàòÎèÑÍ∂å        28300.0
1  3448737  3393191  3512547  3655437  Í≤ΩÏÉÅÍ∂å        16300.0
2  2890451  2632035  2517680  2466338  ÏàòÎèÑÍ∂å        98200.0
3  2466052  2431774  2456016  2473990  Í≤ΩÏÉÅÍ∂å        14100.0

In [ ]:
# df['2005-2010 Ï¶ùÍ∞ÄÏú®'] = (df['2010'] - df['2005']) / df['2005']
df['2005-2010 Ï¶ùÍ∞ÄÏú®'] = ((df['2010'] - df['2005']) / df['2005'] * 100).round(2)  # ÏÜåÏàòÏ†ê nÎ≤àÏ®∞ ÏûêÎ¶¨ÍπåÏßÄ Î∞òÏò¨Î¶º
df

      2015     2010     2005     2000   ÏßÄÏó≠  2010-2015 Ï¶ùÍ∞ÄÏú®  2005-2010 Ï¶ùÍ∞ÄÏú®
0  9904312  9631482  9762546  9853972  ÏàòÎèÑÍ∂å        28300.0          -1.34
1  3448737  3393191  3512547  3655437  Í≤ΩÏÉÅÍ∂å        16300.0          -3.40
2  2890451  2632035  2517680  2466338  ÏàòÎèÑÍ∂å        98200.0           4.54
3  2466052  2431774  2456016  2473990  Í≤ΩÏÉÅÍ∂å        14100.0          -0.99

### Ïó¥ Ïù∏Îç±Ïã±
* Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÄ Ïó¥ ÎùºÎ≤®ÏùÑ ÌÇ§Î°ú, Ïó¥ ÏãúÎ¶¨Ï¶àÎ•º Í∞íÏúºÎ°ú Í∞ÄÏßÄÎäî ÎîïÏÖîÎÑàÎ¶¨ÏôÄ Ïú†ÏÇ¨
* Îî∞ÎùºÏÑú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ Ïù∏Îç±Ïã±ÏùÑ Ìï† ÎïåÎèÑ Ïó¥ ÎùºÎ≤®(column label)ÏùÑ ÌÇ§Í∞íÏúºÎ°ú ÏÉùÍ∞ÅÌïòÏó¨ Ïù∏Îç±Ïã±ÏùÑ Ìï† Ïàò ÏûàÏùå
* Ïù∏Îç±Ïä§Î°ú ÎùºÎ≤® Í∞íÏùÑ ÌïòÎÇòÎßå ÎÑ£ÏúºÎ©¥ ÏãúÎ¶¨Ï¶à Í∞ùÏ≤¥Í∞Ä Î∞òÌôòÎêòÍ≥† ÎùºÎ≤®Ïùò Î∞∞Ïó¥ ÎòêÎäî Î¶¨Ïä§Ìä∏Î•º ÎÑ£ÏúºÎ©¥ Î∂ÄÎ∂ÑÏ†ÅÏù∏ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏù¥ Î∞òÌôò

In [ ]:
# ÌïòÎÇòÏùò Ïó¥Îßå Ïù∏Îç±Ïã±ÌïòÎ©¥ ÏãúÎ¶¨Ï¶àÍ∞Ä Î∞òÌôò
df['ÏßÄÏó≠']

ÎèÑÏãú
ÏÑúÏö∏    ÏàòÎèÑÍ∂å
Î∂ÄÏÇ∞    Í≤ΩÏÉÅÍ∂å
Ïù∏Ï≤ú    ÏàòÎèÑÍ∂å
ÎåÄÍµ¨    Í≤ΩÏÉÅÍ∂å
Name: ÏßÄÏó≠, dtype: object

In [ ]:
# Ïó¨Îü¨Í∞úÏùò Ïó¥ÏùÑ Ïù∏Îç±Ïã±ÌïòÎ©¥ Î∂ÄÎ∂ÑÏ†ÅÏù∏ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏù¥ Î∞òÌôò
df[['2010', '2015']]

ÌäπÏÑ±     2010     2015
ÎèÑÏãú
ÏÑúÏö∏  9631482  9904312
Î∂ÄÏÇ∞  3393191  3448737
Ïù∏Ï≤ú  2632035  2890451
ÎåÄÍµ¨  2431774  2466052

* ÎßåÏïΩ ÌïòÎÇòÏùò Ïó¥Îßå ÎπºÎÇ¥Î©¥ÏÑú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÏûêÎ£åÌòïÏùÑ Ïú†ÏßÄÌïòÍ≥† Ïã∂Îã§Î©¥ ÏõêÏÜåÍ∞Ä ÌïòÎÇòÏù∏ Î¶¨Ïä§Ìä∏Î•º Ïç®ÏÑú Ïù∏Îç±Ïã±

In [ ]:
# 2010Ïù¥ÎùºÎäî Ïó¥ÏùÑ Î∞òÌôòÌïòÎ©¥ÏÑú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÏûêÎ£åÌòïÏùÑ Ïú†ÏßÄ
df[['2010']]

ÌäπÏÑ±     2010
ÎèÑÏãú
ÏÑúÏö∏  9631482
Î∂ÄÏÇ∞  3393191
Ïù∏Ï≤ú  2632035
ÎåÄÍµ¨  2431774

In [ ]:
type(df[['2010']])

pandas.core.frame.DataFrame

In [ ]:
# 2010Ïù¥ÎùºÎäî Ïó¥ÏùÑ Î∞òÌôòÌïòÎ©¥ÏÑú ÏãúÎ¶¨Ï¶à ÏûêÎ£åÌòïÏúºÎ°ú Î≥ÄÌôò
df['2010']

ÎèÑÏãú
ÏÑúÏö∏    9631482
Î∂ÄÏÇ∞    3393191
Ïù∏Ï≤ú    2632035
ÎåÄÍµ¨    2431774
Name: 2010, dtype: int64

In [ ]:
type(df[['2010']])

pandas.core.frame.DataFrame

* Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò Ïó¥ Ïù∏Îç±Ïä§Í∞Ä Î¨∏ÏûêÏó¥ ÎùºÎ≤®ÏùÑ Í∞ÄÏßÄÍ≥† ÏûàÎäî Í≤ΩÏö∞ÏóêÎäî ÏàúÏÑúÎ•º ÎÇòÌÉÄÎÇ¥Îäî Ï†ïÏàò Ïù∏Îç±Ïä§Î•º Ïó¥ Ïù∏Îç±Ïã±Ïóê ÏÇ¨Ïö©Ìï† Ïàò ÏóÜÏùå
* Ï†ïÏàò Ïù∏Îç±Ïã±Ïùò Ïä¨ÎùºÏù¥Ïä§Îäî Ìñâ(row)ÏùÑ Ïù∏Îç±Ïã±Ìï† Îïå ÏÇ¨Ïö©ÌïòÎØÄÎ°ú Ïó¥ÏùÑ Ïù∏Îç±Ïã±Ìï† ÎïåÎäî Ïì∏ Ïàò ÏóÜÏùå (Ï†ïÏàò Ïù∏Îç±Ïä§Î•º ÎÑ£ÏúºÎ©¥ KeyError Ïò§Î•òÍ∞Ä Î∞úÏÉù)

In [ ]:
# df[0]  # KeyError: 0

* Îã§Îßå ÏõêÎûòÎ∂ÄÌÑ∞ Î¨∏ÏûêÏó¥Ïù¥ ÏïÑÎãå Ï†ïÏàòÌòï Ïó¥ Ïù∏Îç±Ïä§Î•º Í∞ÄÏßÄÎäî Í≤ΩÏö∞ÏóêÎäî Ïù∏Îç±Ïä§ Í∞íÏúºÎ°ú Ï†ïÏàòÎ•º ÏÇ¨Ïö©Ìï† Ïàò ÏûàÏùå

In [ ]:
df2 = pd.DataFrame(np.arange(12).reshape(3, -1))
df2

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [ ]:
df2[1]

0    1
1    5
2    9
Name: 1, dtype: int64

In [ ]:
df2[[1, 2]]

   1   2
0  1   2
1  5   6
2  9  10

### Ìñâ Ïù∏Îç±Ïã±
* ÎßåÏïΩ Ìñâ Îã®ÏúÑÎ°ú Ïù∏Îç±Ïã±ÏùÑ ÌïòÍ≥†Ïûê ÌïòÎ©¥ Ìï≠ÏÉÅ Ïä¨ÎùºÏù¥Ïã±(slicing)ÏùÑ Ìï¥ÏïºÌï®
* Ïù∏Îç±Ïä§Ïùò Í∞íÏù¥ Î¨∏Ïûê ÎùºÎ≤®Ïù¥Î©¥ ÎùºÎ≤® Ïä¨ÎùºÏù¥Ïã±ÎèÑ Í∞ÄÎä•

In [ ]:
df

ÌäπÏÑ±   ÏßÄÏó≠     2015     2010     2005     2000  2010-2015 Ï¶ùÍ∞ÄÏú®
ÎèÑÏãú
ÏÑúÏö∏  ÏàòÎèÑÍ∂å  9904312  9631482  9762546  9853972           2.83
Î∂ÄÏÇ∞  Í≤ΩÏÉÅÍ∂å  3448737  3393191  3512547  3655437           1.63
Ïù∏Ï≤ú  ÏàòÎèÑÍ∂å  2890451  2632035  2517680  2466338           9.82
ÎåÄÍµ¨  Í≤ΩÏÉÅÍ∂å  2466052  2431774  2456016  2473990           1.41

In [ ]:
# df[0]
df[0:1], df[:1]

(ÌäπÏÑ±   ÏßÄÏó≠     2015     2010     2005     2000  2010-2015 Ï¶ùÍ∞ÄÏú®
 ÎèÑÏãú
 ÏÑúÏö∏  ÏàòÎèÑÍ∂å  9904312  9631482  9762546  9853972           2.83,
 ÌäπÏÑ±   ÏßÄÏó≠     2015     2010     2005     2000  2010-2015 Ï¶ùÍ∞ÄÏú®
 ÎèÑÏãú
 ÏÑúÏö∏  ÏàòÎèÑÍ∂å  9904312  9631482  9762546  9853972           2.83)

In [ ]:
df[1:2]

ÌäπÏÑ±   ÏßÄÏó≠     2015     2010     2005     2000  2010-2015 Ï¶ùÍ∞ÄÏú®
ÎèÑÏãú
Î∂ÄÏÇ∞  Í≤ΩÏÉÅÍ∂å  3448737  3393191  3512547  3655437           1.63

In [ ]:
df["ÏÑúÏö∏":"ÏÑúÏö∏"]

ÌäπÏÑ±   ÏßÄÏó≠     2015     2010     2005     2000  2010-2015 Ï¶ùÍ∞ÄÏú®
ÎèÑÏãú
ÏÑúÏö∏  ÏàòÎèÑÍ∂å  9904312  9631482  9762546  9853972           2.83

### Í∞úÎ≥Ñ Îç∞Ïù¥ÌÑ∞ Ïù∏Îç±Ïã±
* Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏóêÏÑú Ïó¥ ÎùºÎ≤®Î°ú ÏãúÎ¶¨Ï¶àÎ•º Ïù∏Îç±Ïã±ÌïòÎ©¥ ÏãúÎ¶¨Ï¶àÍ∞Ä Îê®. Ïù¥ ÏãúÎ¶¨Ï¶àÎ•º Îã§Ïãú Ìñâ ÎùºÎ≤®Î°ú Ïù∏Îç±Ïã±ÌïòÎ©¥ Í∞úÎ≥Ñ Îç∞Ïù¥ÌÑ∞Í∞Ä ÎÇòÏò¥.

In [ ]:
df['2015']

ÎèÑÏãú
ÏÑúÏö∏    9904312
Î∂ÄÏÇ∞    3448737
Ïù∏Ï≤ú    2890451
ÎåÄÍµ¨    2466052
Name: 2015, dtype: int64

In [ ]:
df['2015'][0]

9904312

### Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ Ïù∏Îç±Ïã± Î∞©Î≤ï Ï†ïÎ¶¨
|Ïù∏Îç±Ïã± Í∞í|Í∞ÄÎä•|Í≤∞Í≥º|ÏûêÎ£åÌòï|Ï∂îÍ∞ÄÏÇ¨Ìï≠|
|:-|:-|:-|:-|:-|
|ÎùºÎ≤®|O|Ïó¥|ÏãúÎ¶¨Ï¶à||
|ÎùºÎ≤® Î¶¨Ïä§Ìä∏|O|Ïó¥|Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ||
|Ïù∏Îç±Ïä§ Îç∞Ïù¥ÌÑ∞ (Ï†ïÏàò)|X||Ïó¥ ÎùºÎ≤®Ïù¥ Ï†ïÏàòÏù∏ Í≤ΩÏö∞ÏóêÎäî ÎùºÎ≤® Ïù∏Îç±Ïã±ÏúºÎ°ú Ïù∏Ï†ï|
|Ïù∏Îç±Ïä§ Îç∞Ïù¥ÌÑ∞(Ï†ïÏàò) Ïä¨ÎùºÏù¥Ïä§|O|Ìñâ|Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ||

### ü¶Ü Ïó∞ÏäµÎ¨∏Ï†ú 3
```
data = {
    "Íµ≠Ïñ¥": [80, 90, 70, 30],
    "ÏòÅÏñ¥": [90, 70, 60, 40],
    "ÏàòÌïô": [90, 60, 80, 70],
}
columns = ["Íµ≠Ïñ¥", "ÏòÅÏñ¥", "ÏàòÌïô"]
index = ["Ï∂òÌñ•", "Î™ΩÎ£°", "Ìñ•Îã®", "Î∞©Ïûê"]
df = pd.DataFrame(data, index=index, columns=columns)
```
1. Î™®Îì† ÌïôÏÉùÏùò ÏàòÌïô Ï†êÏàòÎ•º ÏãúÎ¶¨Ï¶àÎ°ú ÎÇòÌÉÄÎÇ∏Îã§.
1. Î™®Îì† ÌïôÏÉùÏùò Íµ≠Ïñ¥ÏôÄ ÏòÅÏñ¥ Ï†êÏàòÎ•º Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÎÇòÌÉÄÎÇ∏Îã§.
1. Î™®Îì† ÌïôÏÉùÏùò Í∞Å Í≥ºÎ™© ÌèâÍ∑† Ï†êÏàòÎ•º ÏÉàÎ°úÏö¥ Ïó¥Î°ú Ï∂îÍ∞ÄÌïúÎã§.
1. Î∞©ÏûêÏùò ÏòÅÏñ¥ Ï†êÏàòÎ•º 80Ï†êÏúºÎ°ú ÏàòÏ†ïÌïòÍ≥† ÌèâÍ∑† Ï†êÏàòÎèÑ Îã§Ïãú Í≥ÑÏÇ∞ÌïúÎã§.
1. Ï∂òÌñ•Ïùò Ï†êÏàòÎ•º Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú ÎÇòÌÉÄÎÇ∏Îã§.
1. Ìñ•Îã®Ïùò Ï†êÏàòÎ•º ÏãúÎ¶¨Ï¶àÎ°ú ÎÇòÌÉÄÎÇ∏Îã§.

In [ ]:
data = {
    "Íµ≠Ïñ¥": [80, 90, 70, 30],
    "ÏòÅÏñ¥": [90, 70, 60, 40],
    "ÏàòÌïô": [90, 60, 80, 70],
}
columns = ["Íµ≠Ïñ¥", "ÏòÅÏñ¥", "ÏàòÌïô"]
index = ["Ï∂òÌñ•", "Î™ΩÎ£°", "Ìñ•Îã®", "Î∞©Ïûê"]
df = pd.DataFrame(data, index=index, columns=columns)
df

    Íµ≠Ïñ¥  ÏòÅÏñ¥  ÏàòÌïô
Ï∂òÌñ•  80  90  90
Î™ΩÎ£°  90  70  60
Ìñ•Îã®  70  60  80
Î∞©Ïûê  30  40  70

In [ ]:
# Î™®Îì† ÌïôÏÉùÏùò ÏàòÌïô Ï†êÏàòÎ•º ÏãúÎ¶¨Ï¶àÎ°ú ÎÇòÌÉÄÎÇ∏Îã§.
# ÏàòÌïô Ï†êÏàòÍ∞Ä Îì§Ïñ¥ÏûàÎäî Ïó¥ÏùÑ Ïù∏Îç±Ïä§Î°ú Ï°∞ÌöåÌïúÎã§
# Ïó¥ÏùÑ Ïù∏Îç±Ïä§Î°ú Ï°∞Ìöå -> df[Ïó¥ Ïù∏Îç±Ïä§] (ÏãúÎ¶¨Ï¶à)
df['ÏàòÌïô']

Ï∂òÌñ•    90
Î™ΩÎ£°    60
Ìñ•Îã®    80
Î∞©Ïûê    70
Name: ÏàòÌïô, dtype: int64

In [ ]:
# Î™®Îì† ÌïôÏÉùÏùò Íµ≠Ïñ¥ÏôÄ ÏòÅÏñ¥ Ï†êÏàòÎ•º Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÎÇòÌÉÄÎÇ∏Îã§.
# Íµ≠Ïñ¥, ÏòÅÏñ¥ ÌÇ§Î•º ÏÇ¨Ïö©Ìï¥ÏÑú ÌÇ§ Î¶¨Ïä§Ìä∏Î°ú ÏãúÎ¶¨Ï¶àÎì§ÏùÑ Ï°∞ÌöåÌï¥ÏÑú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÌôî
# Ïó¥Îì§Ïùò Î¶¨Ïä§Ìä∏Î•º []Ïóê ÎÑ£Ïñ¥ÏÑú Ï°∞ÌöåÌïòÎ©¥ Í∑∏ Ïó¥Îì§ÏùÑ Î¨∂ÏùÄ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏù¥ ÎÇòÏò®Îã§
df[['Íµ≠Ïñ¥', 'ÏòÅÏñ¥']]

    Íµ≠Ïñ¥  ÏòÅÏñ¥
Ï∂òÌñ•  80  90
Î™ΩÎ£°  90  70
Ìñ•Îã®  70  60
Î∞©Ïûê  30  40

In [ ]:
# Î™®Îì† ÌïôÏÉùÏùò Í∞Å Í≥ºÎ™© ÌèâÍ∑† Ï†êÏàòÎ•º ÏÉàÎ°úÏö¥ Ïó¥Î°ú Ï∂îÍ∞ÄÌïúÎã§.
df['ÌèâÍ∑†'] = (df['Íµ≠Ïñ¥'] + df['ÏòÅÏñ¥'] + df['ÏàòÌïô']) / 3
# df['ÌèâÍ∑†'] = df.mean(axis=1)
df

    Íµ≠Ïñ¥  ÏòÅÏñ¥  ÏàòÌïô         ÌèâÍ∑†
Ï∂òÌñ•  80  90  90  86.666667
Î™ΩÎ£°  90  70  60  73.333333
Ìñ•Îã®  70  60  80  70.000000
Î∞©Ïûê  30  40  70  46.666667

In [ ]:
# Î∞©ÏûêÏùò ÏòÅÏñ¥ Ï†êÏàòÎ•º 80Ï†êÏúºÎ°ú ÏàòÏ†ïÌïòÍ≥† ÌèâÍ∑† Ï†êÏàòÎèÑ Îã§Ïãú Í≥ÑÏÇ∞ÌïúÎã§.
# df['ÏòÅÏñ¥']['Î∞©Ïûê'] = 80
# df['ÏòÅÏñ¥'][3] = 80
df['ÏòÅÏñ¥'][-1] = 80
df['ÌèâÍ∑†'] = (df['Íµ≠Ïñ¥'] + df['ÏòÅÏñ¥'] + df['ÏàòÌïô']) / 3
df

<ipython-input-213-fee0c47701a9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ÏòÅÏñ¥'][-1] = 80

    Íµ≠Ïñ¥  ÏòÅÏñ¥  ÏàòÌïô         ÌèâÍ∑†
Ï∂òÌñ•  80  90  90  86.666667
Î™ΩÎ£°  90  70  60  73.333333
Ìñ•Îã®  70  60  80  70.000000
Î∞©Ïûê  30  80  70  60.000000

In [ ]:
# Ï∂òÌñ•Ïùò Ï†êÏàòÎ•º Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú ÎÇòÌÉÄÎÇ∏Îã§.
# df[0:1]
# df[:1]
# df["Ï∂òÌñ•":"Ï∂òÌñ•"]
df.T[['Ï∂òÌñ•']].T

      Íµ≠Ïñ¥    ÏòÅÏñ¥    ÏàòÌïô         ÌèâÍ∑†
Ï∂òÌñ•  80.0  90.0  90.0  86.666667

In [ ]:
# Ìñ•Îã®Ïùò Ï†êÏàòÎ•º ÏãúÎ¶¨Ï¶àÎ°ú ÎÇòÌÉÄÎÇ∏Îã§.
df.T['Ìñ•Îã®']

Íµ≠Ïñ¥    70.0
ÏòÅÏñ¥    60.0
ÏàòÌïô    80.0
ÌèâÍ∑†    70.0
Name: Ìñ•Îã®, dtype: float64

# Îç∞Ïù¥ÌÑ∞ ÏûÖÏ∂úÎ†•

## CSV ÌååÏùº ÏûÖÎ†•

In [226]:
# comma seperated values : cpmma(,)Î°ú Íµ¨Î∂ÑÎêú Í∞íÎì§
# ÏÉòÌîå Îç∞Ïù¥ÌÑ∞ ÎßåÎì§Í∏∞
%%writefile sample1.csv
c1,c2,c3
1,1.11,one
2,2.22,two
3,3.33,three

Writing sample1.csv

In [227]:
# pd.read_csv(ÌååÏùºÏù¥Î¶Ñ) : CSVÌååÏùºÎ°úÎ∂ÄÌÑ∞ Îç∞Ïù¥ÌÑ∞Î•º ÏùΩÏñ¥ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÎßåÎì§Í∏∞

In [228]:
# ÎßåÏïΩ Îç∞Ïù¥ÌÑ∞ ÌååÏùºÏóê Ïó¥ Ïù∏Îç±Ïä§ Ï†ïÎ≥¥Í∞Ä ÏóÜÎäî Í≤ΩÏö∞ÏóêÎäî read_csv Î™ÖÎ†πÏùò names Ïù∏ÏàòÎ°ú ÏÑ§Ï†ï Í∞ÄÎä•
%%writefile sample2.csv
1, 1.11, one
2, 2.22, two
3, 3.33, three

Overwriting sample2.csv

In [230]:
# pd.read_csv(ÌååÏùºÏù¥Î¶Ñ) : CSVÌååÏùºÎ°úÎ∂ÄÌÑ∞ Îç∞Ïù¥ÌÑ∞Î•º ÏùΩÏñ¥ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÎßåÎì§Í∏∞
pd.read_csv('sample1.csv')

   c1    c2     c3
0   1  1.11    one
1   2  2.22    two
2   3  3.33  three

In [232]:
pd.read_csv('sample2.csv')

   1   1.11     one
0  2   2.22     two
1  3   3.33   three

In [233]:
pd.read_csv('sample2.csv', names=['c1', 'c2', 'c3']) # name=[Ïó¥ Ïù¥Î¶Ñ Î¶¨Ïä§Ìä∏]

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [239]:
# ÎßåÏïΩ ÌÖåÏù¥Î∏î ÎÇ¥Ïùò ÌäπÏ†ïÌïú Ïó¥ÏùÑ Ìñâ Ïù∏Îç±Ïä§Î°ú ÏßÄÏ†ïÌïòÍ≥† Ïã∂ÏúºÎ©¥ index_col Ïù∏ÏàòÎ•º ÏÇ¨Ïö©
pd.read_csv('sample2.csv', names=['c1', 'c2', 'c3'], index_col=2)  # index_col=nÎ≤àÏß∏Î•º ÏßÄÏ†ï(0Î∂ÄÌÑ∞->index)

        c1    c2
c3
 one     1  1.11
 two     2  2.22
 three   3  3.33

## CSV ÌååÏùº Ï∂úÎ†•

In [235]:
df = pd.read_csv('sample1.csv')

In [237]:
df['c4'] = df['c1'] + df['c2']
df

   c1    c2     c3    c4
0   1  1.11    one  2.11
1   2  2.22    two  4.22
2   3  3.33  three  6.33

In [238]:
df.to_csv('sample3.csv')

In [241]:
!cat sample3.csv

,c1,c2,c3,c4
0,1,1.11,one,2.1100000000000003
1,2,2.22,two,4.220000000000001
2,3,3.33,three,6.33

In [243]:
df.to_excel('sample3.xlsx')

In [247]:
pd.read_excel('sample3.xlsx', index_col=0 )

   c1    c2     c3    c4
0   1  1.11    one  2.11
1   2  2.22    two  4.22
2   3  3.33  three  6.33

## Ïù∏ÌÑ∞ÎÑ∑ ÏÉÅÏùò CSV ÌååÏùº ÏûÖÎ†•
* ÏõπÏÉÅÏóêÎäî Îã§ÏñëÌïú Îç∞Ïù¥ÌÑ∞ ÌååÏùºÏù¥ CSV ÌååÏùº ÌòïÌÉúÎ°ú Ï†úÍ≥µ
* read_csv Î™ÖÎ†π ÏÇ¨Ïö©Ïãú ÌååÏùº Ìå®Ïä§ ÎåÄÏã† URLÏùÑ ÏßÄÏ†ïÌïòÎ©¥ PandasÍ∞Ä ÏßÅÏ†ë Ìï¥Îãπ ÌååÏùºÏùÑ Îã§Ïö¥Î°úÎìúÌïòÏó¨ ÏùΩÏñ¥Îì§ÏûÑ

In [254]:
url = 'https://raw.githubusercontent.com/qus0in/230621_pandas/main/titanic.csv'
df = pd.read_csv(url)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

* Îç∞Ïù¥ÌÑ∞Ïùò ÏàòÍ∞Ä ÎßéÏùÑ Í≤ΩÏö∞, Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò ÌëúÌòÑ(representation)ÏùÄ Îç∞Ïù¥ÌÑ∞ Ïïû, Îí§Ïùò ÏùºÎ∂ÄÎ∂ÑÎßå Î≥¥Ïó¨Ï§å
* Î≥¥Ïó¨Ï§Ñ ÌñâÏùò ÏàòÎäî `display.max_rows` ÏòµÏÖòÏúºÎ°ú Ï†ïÌï† Ïàò ÏûàÎã§.

* ÎßåÏïΩ ÏïûÏù¥ÎÇò Îí§Ïùò ÌäπÏ†ï Í∞ØÏàòÎßå Î≥¥Í≥† Ïã∂Îã§Î©¥ `head` Î©îÏÑúÎìúÎÇò `tail` Î©îÏÑúÎìúÎ•º Ïù¥Ïö©
* Î©îÏÜåÎìú Ïù∏ÏàòÎ°ú Ï∂úÎ†•Ìï† ÌñâÏùò ÏàòÎ•º ÎÑ£ÏùÑ ÏàòÎèÑ ÏûàÏùå

In [250]:
df.head()

   c1    c2     c3    c4
0   1  1.11    one  2.11
1   2  2.22    two  4.22
2   3  3.33  three  6.33

In [256]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [261]:
# encoding='cp949'
df_gas = pd.read_csv("ÌïúÍµ≠Í∞ÄÏä§Í≥µÏÇ¨_ÏõîÎ≥Ñ Ï≤úÏó∞Í∞ÄÏä§ ÏÉùÏÇ∞Îüâ_20221031.csv", encoding='cp949')
#df_gas = pd.read_csv("https://raw.githubusercontent.com/qus0in/230621_pandas/main/%ED%95%9C%EA%B5%AD%EA%B0%80%EC%8A%A4%EA%B3%B5%EC%82%AC_%EC%9B%94%EB%B3%84%20%EC%B2%9C%EC%97%B0%EA%B0%80%EC%8A%A4%20%EC%83%9D%EC%82%B0%EB%9F%89_20221031.csv")
df_gas

      Ïó∞ÎèÑ   Ïõî          ÏÉùÏÇ∞Îüâ
0   2016   1  4288593.000
1   2016   2  3592400.000
2   2016   3  3201669.000
3   2016   4  2135286.000
4   2016   5  1989360.000
..   ...  ..          ...
77  2022   6  2877369.949
78  2022   7  3175651.631
79  2022   8  2885559.384
80  2022   9  2575865.622
81  2022  10  2932386.685

[82 rows x 3 columns]